@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: Montserrat, "sans-serif";
  font-weight: 500;
}

html{
  overflow: hidden;
}



.sd {
  background: #ffffff;
  box-shadow: 21px 21px 42px #999999, -21px -21px 42px #ffffff;
}

.sd2 {
  background: #ffffff;
  box-shadow: 5px 5px 77px #d6d6d6, -5px -5px 77px #ffffff;
}

.statis:nth-child(1) {
  position: relative;
}

.statis:nth-child(2) {
  position: relative;
}

.statis::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 3px;
  height: 100%;
  background: #fa932c;
}

.sd3 {
  background: #f9faff;
  box-shadow: 14px 14px 28px #edeef2, -14px -14px 28px #ffffff;
}

.s-name {
  font-size: 13px;
}

.s-number {
  font-weight: bold;
  font-size: 18px;
}

.div-last {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
